name: Terraform CI/CD
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
    terraform:
        name: "Terraform"
        runs-on: ubuntu-latest
        env:
          TF_VERSION: 1.5.6
          TF_WORKING_DIR: ./terraform
          AWS_REGION: us-east-1

        steps:
            - name: Checkout repository code
              uses: actions/checkout@v3
        
            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v2    
              with:
                terraform_version: ${{ env.TF_VERSION }}

            - name: Aws Credentials
              uses: aws-actions/configure-aws-credentials@v2
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ${{ env.AWS_REGION }}

            - name: Terraform Init
              run: terraform init

            - name: Terraform Format
              run: terraform fmt -check

            - name: Terraform Validate
              run: terraform validate

            - name: Terraform Plan
              run: terraform plan 
 
            - name: Terraform destroy
              if: github.ref == 'refs/heads/main'
              run: terraform destroy -auto-approve 
